html{
    height: 100%;
    width: 100%;
}

body{
    color: #4E4E4E;
    font-family: monospace, sans-serif;
    font-weight: normal;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

.container{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#navbarWrapper{
    background-image: url('../images/nav-background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    position: fixed;
    text-align: center;
    top: 0;
    width: 70%;
    padding: 0 15% 0 15%;
}

#navbar{
    font-size: 1.9em;
    margin: 0;
    width: 100%;
    height: 100%;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 5%;
}

#navbar li{
    color: #f1f1f1;
    display: inline-block;
    text-decoration: none;
    float: left;
    padding: 0 0.5em 0 0.5em;
}

#navbar li:hover{
    color: #f4f4f4;
    background-color: #0077ff;
    padding-color: #0077ff;
}

.navitem{
    width: 18.5%;
    height: 100%;
    text-align: center;
}

.navitem a{
    display: block;
    padding: 0.5em 2.4em 0.5em 2.4em;
    width: 125px;
    text-align: center;
    text-decoration: none;
}

.navitem a:link, a:visited{
   color: #f1f1f1;
}

.navitem a span{
    font-size: 1.0em;
}

.navitem a span:hover{
    font-size: 1.1em;
}

#contentWrapper{
    background-image: url('../images/background-dark-2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100em;
    width: 70%;
    margin: 0;
    padding: 6.5% 15% 12% 15%;
}

#content{
    width: 100%;
}

#footerWrapper{
    background-image: url('../images/nav-background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    margin-top: -2em;
    bottom: 0;
    width: 100%;
    height: 10%;
    padding: 2em 40em 2em 40em;
}

#footer{
    font-size: 1.9em;
    width: 75%;
    margin: 0;
}

#footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 5%;
}

#footer li{
    color: #f1f1f1;
    display: inline-block;
    text-decoration: none;
    float: left;
    padding: 1.0em 1.0em 1.0em 1.0em;
    text-align: center;
}

#footer li:hover{
    color: #f4f4f4;
}

.footeritem a{
    display: block;
    padding: 0.5em 2.4em 0.5em 2.4em;
    width: 125px;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.footeritem a:link, a:visited{
   color: #f1f1f1;
}

.footeritem a span{
    font-size: 1.0em;
}

.footeritem a span:hover{
    font-size: 1.1em;
}

#active{
    background-color: #0077ff;
    border-color: #0077ff;
    padding-color: #0077ff;
}

.underline{
    text-decoration: underline;
}

h1{
    font-size: 4em;
}

h2{
     font-size: 3em;
}

h3{
    font-size: 2.5em;
}

h4{
    font-size: 2em;
}

p{
    font-size: 2em;
}