<!--Set the area for the content-->
<div id="contentWrapper">
	<div id="content">
		<!--Page Heading-->
		<h1 class="underline">
			About Us
		</h1>

		<h2 class="underline">
			Introduction
		</h2>

		<h4>
			<p>My name is Rishan Thirukumar and I am currently enrolled into a computer science degree.
				I am in my third year where I am undertaking four modules and a year long
				project. </p>
			<p>My four modules are on:</p>
			<ul>
				<li>Artificial Intelligence</li>
				<li>Machine Learning</li>
				<li>3D Graphics using OpenGL</li>
				<li>Algorithms to Bioinformatics</li>
			</ul>

			<p>My final year project is on</p>
			<ul>
				<li>GPU Accelerated Rendering of Fog and Smoke</li>
			</ul>

			<p>My preferred future field of research would be in game development where I could work
				on the graphics side of the game, or potenially work on the game engine. Another
				of interest is in Artificial Intelligence.</p>
		</h4>

		<h2 class="underline">
			Skills:
		</h2>

		<h3 class="underline">
			Languages:
		</h3>

		<h4>
			<ul>
				<li>C</li>
				<li>C++</li>
				<li>Java</li>
				<li>Python</li>
			</ul>
		</h4>

	</div>
</div>
