<!DOCTYPE html>
<html>
	<body id="contactUs">
		<div class="container">
			<div id="contentWrapper">
				<div id="content">
		    	<!--Page Heading-->
					<h1 class="underline">
						Contact Us
					</h1>

					<p>
						Template page
					</p>
				</div>
			</div>

			<!--Set the area for the footer-->
			<div id="footerWrapper">
				<div id="footer">
					<ul id="contactLinks">
	          <li>Twitter</li>
	          <li>Instagram</li>
	          <li>Facebook</li>
	          <li>LinkedIn</li>
	        </ul>
				</div>
			</div>
		</div>
	</body>

</html>
