<!DOCTYPE html>
<html>

	<head>
    <!--Load the stylesheet-->
    <link rel="stylesheet" type="text/css" href="/static/css/mainStyle.css">

    <!--Set the page title in the tab-->
		<title>
			Contact Us
		</title>
	</head>

	<body id="contactUs">
		<div class="container">

			<!--Set the area for the navbar-->
			<div id="navbarWrapper">
				<div id="navbar">
					<ul>
						<!--Set the links in the nav bar-->
						<li class="navitem"><a href="/">Home</a></li>
						<li class="navitem"><a href="portfolio">Portfolio</a></li>
						<li class="navitem"><a href="aboutus">About Us</a></li>
						<li class="navitem"><a id="active" href="contactus">Contact Us</a></li>
					</ul>
				</div>
			</div>

			<div id="contentWrapper">
				<div id="content">
		    	<!--Page Heading-->
					<h1 class="underline">
						Contact Us
					</h1>

					<p>
						Template page
					</p>
				</div>
			</div>

			<!--Set the area for the footer-->
			<div id="footerWrapper">
				<div id="footer">
					<ul id="contactLinks">
	          <li>Twitter</li>
	          <li>Instagram</li>
	          <li>Facebook</li>
	          <li>LinkedIn</li>
	        </ul>
				</div>
			</div>
		</div>
	</body>

</html>
