        <!--Set the area for the footer-->
        <div id="footerWrapper">
            <div id="footer">
                <ul id="contactLinks">
                    <li class="footeritem twitter">
                        <a href="https://twitter.com/rishan1996">
                            <div class="icon">
                                <i style="font-size: 26px" class="fa" id="icon-footer-twitter">&#xf081;</i>
                            </div>
                            <div class="text">
                                <span>Twitter</span>
                            </div>
                        </a>
                    </li>
                    <li class="footeritem instagram">
                        <a href="https://www.linkedin.com/in/rishan-thirukumar/">
                            <div class="icon">
                                <i style="font-size: 26px" class="fa" id="icon-footer-instagram">&#xf16d;</i>
                            </div>
                            <div class="text">
                                <span>Instagram</span>
                            </div>
                        </a>
                    </li>
                    <li class="footeritem facebook">
                        <a href="https://www.linkedin.com/in/rishan-thirukumar/">
                            <div class="icon">
                                <i style="font-size: 26px" class="fa" id="icon-footer-facebook">&#xf082;</i>
                            </div>
                            <div class="text">
                                <span>Facebook</span>
                            </div>
                        </a>
                    </li>
                    <li class="footeritem linkedin">
                        <a href="https://www.linkedin.com/in/rishan-thirukumar/">
                            <div class="icon">
                                <i style="font-size: 26px" class="fa" id="icon-footer-linkedin">&#xf08c;</i>
                            </div>
                            <div class="text">
                                <span>LinkedIn</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- End of footer wrapper -->
    </div> <!-- End of container -->
</body>
</html>