<!DOCTYPE html>
<html>

  <head>
    <!--Load the stylesheet-->
    <link rel="stylesheet" type="text/css" href="css/mainStyle.css">

    <!--Set the page title in the tab-->
		<title>
      HomePage
		</title>
	</head>

	<body id="home">
    <div class="container">

      <!--Set the area for the navbar-->
      <div id="navbarWrapper">
        <div id="navbar">
          <ul>
            <!--Set the links in the nav bar-->
            <li class="navitem"><a id="active" href="index.html">Home</a></li>
            <li class="navitem"><a href="portfolio.html">Portfolio</a></li>
            <li class="navitem"><a href="aboutUs.html">About Us</a></li>
            <li class="navitem"><a href="contactUs.html">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div id="contentWrapper">
        <div id="content">
          <!--Page Heading-->
    		  <h1 class="underline">
    			   Home Page
    		  </h1>

    		  <h4>Website developed by Rishan Thirukumar</h4>
        </div>
      </div>

      <!--Set the area for the footer-->
      <div id="footerWrapper">
        <div id="footer">
          <ul id="contactLinks">
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Facebook</li>
            <li>LinkedIn</li>
          </ul>
        </div>
      </div>
    </div>
	</body>

</html>
