<!DOCTYPE html>
<html>
    <body id="home">
    <div class="container">
      <div id="contentWrapper">
        <div id="content">
          <!--Page Heading-->
    		  <h1 class="underline">
    			   Home Page
    		  </h1>

    		  <h4>Website developed by Rishan Thirukumar</h4>
        </div>
      </div>

      <!--Set the area for the footer-->
      <div id="footerWrapper">
        <div id="footer">
          <ul id="contactLinks">
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Facebook</li>
            <li>LinkedIn</li>
          </ul>
        </div>
      </div>
    </div>
	</body>

</html>
