<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Load the stylesheet-->
    <link rel="stylesheet" type="text/css" href="/static/css/mainStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<!--To do: add icons to nav bar  -->

<!--Set the page title in the tab-->
<title>{{title}}</title>
</head>
<body>
    <div class="container">
        <!--Set the area for the nav bar-->
        <div id="navbarWrapper">
            <div id="navbar">
                <ul>
                    <!--Set the links in the nav bar-->
                    <li class="navitem home">
                        <a href="/">
                            <i style="font-size: 36px" class="material-icons" id="icon-nav-home">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="navitem portfolio">
                        <a href="portfolio">
                            <i style="font-size: 36px" class="material-icons" id="icon-nav-portfolio">work</i>
                            <span>Portfolio</span>
                        </a>
                    </li>
                    <li class="navitem aboutus">
                        <a href="aboutus">
                            <i style="font-size: 36px" class="material-icons" id="icon-nav-aboutus">account_circle</i>
                            <span>About Us</span>
                        </a>
                    </li>
                    <li class="navitem contactus">
                        <a href="contactus">
                            <i style="font-size: 36px" class="material-icons" id="icon-nav-contactus">perm_phone_msg</i>
                            <span>Contact Us</span>
                        </a>
                    </li>
                    <li class="navitem blog">
                        <a href="blog">
                            <i style="font-size: 36px" class="material-icons" id="icon-nav-blog">insert_comment</i>
                            <span>Blog</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>