<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Load the stylesheet-->
    <link rel="stylesheet" type="text/css" href="/static/css/mainStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Set the page title in the tab-->
<title>{{title}}</title>
</head>
<body>
    <div class="container">
        <!--Set the area for the nav bar-->
        <div id="navbarWrapper">
            <div id="navbar">
                <ul><!--Set the links in the nav bar-->
                    <li class="navitem home">
                        <a href="/">
                            <div class="icon">
                                <i style="font-size: 36px" class="material-icons" id="icon-nav-home">&#xe88a;</i>
                            </div>
                            <div class="text">
                                <span>Home</span>
                            </div>
                        </a>
                    </li>
                    <li class="navitem portfolio">
                        <a href="portfolio">
                            <div class="icon">
                                <i style="font-size: 36px" class="material-icons" id="icon-nav-portfolio">&#xe8f9;</i>
                            </div>
                            <div class="text">
                                <span>Portfolio</span>
                            </div>
                        </a>
                    </li>
                    <li class="navitem aboutme">
                        <a href="aboutme">
                            <div class="icon">
                            <i style="font-size: 36px" class="material-icons" id="icon-nav-aboutme">&#xe853;</i>
                            </div>
                            <div class="text">
                                <span>About Me</span>
                            </div>
                        </a>
                    </li>
                    <li class="navitem contactme">
                        <a href="contactme">
                            <div class="icon">
                                <i style="font-size: 36px" class="material-icons" id="icon-nav-contactme">&#xe8a8;</i>
                            </div>
                            <div class="text">
                                <span>Contact Me</span>
                            </div>
                        </a>
                    </li>
                    <li class="navitem blog">
                        <a href="blog">
                            <div class="icon">
                            <i style="font-size: 36px" class="material-icons" id="icon-nav-blog">&#xe24c;</i>
                            </div>
                            <div class="text">
                                <span>Blog</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- End of navbar wrapper -->