<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Load the stylesheet-->
    <link rel="stylesheet" type="text/css" href="/static/css/mainStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<!--Set the page title in the tab-->
<title>{{title}}</title>
</head>
<body>
    <div class="container">
        <!--Set the area for the nav bar-->
        <div id="navbarWrapper">
            <div id="navbar">
                <ul>
                    <!--Set the links in the nav bar-->
                    <li class="navitem home">
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li class="navitem portfolio">
                        <a href="portfolio">
                            Portfolio
                        </a>
                    </li>
                    <li class="navitem aboutus">
                        <a href="aboutus">
                            About Us
                        </a>
                    </li>
                    <li class="navitem contactus">
                        <a href="contactus">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>