<!DOCTYPE html>
<html>

	<head>
    <!--Load the stylesheet-->
    <link rel="stylesheet" type="text/css" href="css/mainStyle.css">

    <!--Set the page title in the tab-->
		<title>
			Rishan's Portfolio
		</title>
	</head>

	<body id="portfolio">
		<div class="container">

			<!--Set the area for the navbar-->
			<div id="navbarWrapper">
				<div id="navbar">
					<ul>
						<!--Set the links in the nav bar-->
						<li class="navitem"><a href="index.html">Home</a></li>
						<li class="navitem"><a id="active" href="portfolio.html">Portfolio</a></li>
						<li class="navitem"><a href="aboutUs.html">About Us</a></li>
						<li class="navitem"><a href="contactUs.html">Contact Us</a></li>
					</ul>
				</div>
			</div>

			<div id="contentWrapper">
				<div id="content">
		    	<!--Page Heading-->
					<h1 class="underline">
						Rishan's Portfolio
					</h1>

					<h2 class="underline">
						My Completed Projects:
					</h2>

					<!--Project 1-->
					<h3 class="underline">
						First Year Java Programming Project
					</h3>

					<h4 class="underline">
						Project Description:
					</h4>

					<h4>
						The aim of this project was to develop a Java application that models
						certain aspects of an Insurance company.
					</h4>

					<!--Project 2-->
					<h3 class="underline">
						First Year Database Systems Project
					</h3>

					<h4 class="underline">
						Project Description:
					</h4>

					<h4>
						The aim of this project was to implement a database application in python
						and writing interactive SQL statements.
					</h4>

					<!--Project 3-->
					<h3 class="underline">
						First Year Web Development Project: A Dynamic Website using the Flask Framework
					</h3>

					<h4 class="underline">
						Project Description:
					</h4>

					<h4>
						The aim of this project was to gain the ability to construct dynamic web
						applications using the Flask framework for python. The website was aimed
						to be developed for a small hotel using a server side approach.
					</h4>

					<!--Project 4-->
					<h3 class="underline">
						Second Year Programming Project: An Offline Movie Database in C
					</h3>

					<h4 class="underline">
						Project Description:
					</h4>

					<h4>
						The aim of this project was to gain the ability to construct dynamic web
						applications using the Flask framework for python. The website was aimed
						to be developed for a small hotel using a server side approach.
					</h4>

					<!--Project 5-->
					<h3 class="underline">
						Second Year Programming Project: An Offline Movie Database in C++
					</h3>

					<h4 class="underline">
						Project Description:
					</h4>

					<h4>
						The aim of this project was to gain the ability to construct dynamic web
						applications using the Flask framework for python.
					</h4>

					<!--Project 6-->
					<h3 class="underline">
						Second Year Programming Project: Design and implement a simulation of a card game
						called Cheat.
					</h3>

					<h4 class="underline">
						Project Description:
					</h4>

					<h4>
						The aim of this project was to gain the ability to construct dynamic web
						applications using the Flask framework for python.
					</h4>

				</div>
			</div>

			<!--Set the area for the footer-->
			<div id="footerWrapper">
				<div id="footer">
					<ul id="contactLinks">
	          <li>Twitter</li>
	          <li>Instagram</li>
	          <li>Facebook</li>
	          <li>LinkedIn</li>
	        </ul>
				</div>
			</div>
		</div>
	</body>

</html>
